/* style.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

ul {
  list-style-type: none;
}

li {
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
}

a:visited {
  color: #0077b6; /* Visited link color (same as unvisited) */
}

a:hover {
  color: #013c5c;
} /* Mouse over link */
a:active {
  color: #0000ff;
} /* Selected link   */

main {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
